<div class="wrapper">
  <!-- title and generated password -->
  <div>
    <h4 class="title">Password Generator</h4>
    <div class="generated-password flex-between">
      @if(password === '') {
      <h3 class="placeholder">PASSWORD</h3>
      } @else {
      <h3>{{ password }}</h3>
      }
      <button class="flex" (click)="copyPassword()">
        @if (showCopiedNotification){
        <p>COPIED</p>
        }
        <img src="assets/images/icon-copy.svg" alt="copy-icon" />
      </button>
    </div>
  </div>

  <!-- generate password area -->
  <div class="generate-password-area flex-col">
    <div class="character-length flex-between">
      <p>Character Length</p>
      <p class="character-number">{{ passwordLength }}</p>
    </div>

    <!-- <div class="range-slider">
      <input type="range" min="1" max="20" [(ngModel)]="passwordLength" />
    </div> -->
    <div class="range-slider">
      <input
        type="range"
        min="1"
        max="20"
        [(ngModel)]="passwordLength"
        class="range-slider"
        (input)="onSliderChange($event)"
      />
      <div class="progress" [style.width.%]="getProgressWidth()">
        <div class="progress-bar color-accent-green"></div>
      </div>
    </div>

    <div class="checkboxes flex-col">
      <label>
        <input type="checkbox" [(ngModel)]="includeUppercase" />
        Include Uppercase Letters
      </label>

      <label>
        <input type="checkbox" [(ngModel)]="includeLowercase" />
        Include Lowercase Letters
      </label>

      <label>
        <input type="checkbox" [(ngModel)]="includeNumbers" />
        Include Numbers
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="includeSymbols" />
        Include Symbols
      </label>
    </div>

    <!-- password strength -->
    <div class="password-strength flex-between">
      <h4>STRENGTH</h4>

      <div class="strength-indicator flex">
        <h4>{{ passwordStrength }}</h4>
        <div
          class="strength-meter flex"
          [attr.data-strength]="passwordStrength"
        >
          <span class="meter"></span>
          <span class="meter"></span>
          <span class="meter"></span>
          <span class="meter"></span>
        </div>
      </div>
    </div>

    <!-- generate button -->
    <button class="flex generate-button" (click)="generatePassword()">
      GENERATE
      <span>
        <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg">
          <path
            fill="#24232C"
            d="m5.106 12 6-6-6-6-1.265 1.265 3.841 3.84H.001v1.79h7.681l-3.841 3.84z"
          />
        </svg>
      </span>
    </button>
  </div>
</div>
