@import '../../../styles.sass'
    
.wrapper
    width: 100%
    margin-top: 10%
    // height: 100%
    // background: $color-medium-gray


.title
    text-align: center
    color: $color-medium-gray
    font-size: map-get($font-size, md)
    margin-bottom: 1rem

.generated-password 
    background: $color-gray
    padding: .8rem
    font-size: map-get($font-size, lg)

    .placeholder
        color: $color-medium-gray

    button
      background: none
      border: none
      cursor: pointer
      gap: .6rem

      p
        color: $color-accent-green
        font-weight: bold
        font-size: map-get($font-size, sm)
        
      img
          width: 15px
          height: 15px


.generate-password-area 
    margin-top: 1rem
    background: $color-gray
    padding: .8rem
    padding-block: 1rem
    gap: 1.2rem
    

    .character-length
        font-size: map-get($font-size, sm)

    .character-number
        font-size: map-get($font-size, lg)
        color: $color-accent-green
        font-weight: bold
        transition: 5s ease-in-out
        
    .checkboxes 
        gap: .7rem
        font-size: map-get($font-size, sm)
        label
            display: flex
            align-items: center
            gap: .8rem
            cursor: pointer

            input
                width: 18px
                height: 18px
                accent-color: $color-accent-green

    .password-strength
        background: $color-dark-gray
        padding: 1rem

        h4 
            color: $color-medium-gray
            font-size: map-get($font-size,sm )
        
        .strength-indicator
            gap: .5rem

            h4 
                color: $color-light-gray
                font-size: map-get($font-size,md )
                text-transform: uppercase

            .strength-meter
                gap: .3rem

                &[data-strength='Too Weak']
                  .meter:nth-child(1)
                    background-color: $color-accent-red
                    animation: turbo-transition 3s ease-in-out forwards

                &[data-strength='Weak']
                  .meter:nth-child(-n+2)
                    background-color: $color-accent-orange
                    animation: turbo-transition 3s ease-in-out forwards

                &[data-strength='Medium']
                  .meter:nth-child(-n+3)
                    background-color: $color-accent-yellow
                    animation: turbo-transition 3s ease-in-out forwards

                &[data-strength='Strong']
                  .meter:nth-child(-n+4)
                    background-color: $color-accent-green
                    animation: turbo-transition 3s ease-in-out forwards

                .meter 
                    height: 1rem
                    width: .4rem
                    border: 1px solid $color-light-gray 
                    transition: .4s ease-in-out

                  



    .generate-button
        width: 100%
        background: $color-accent-green
        color: $color-dark-gray
        border: none
        padding: .8rem
        font-size: map-get($font-size, sm)
        font-weight: bold
        cursor: pointer
        justify-content: center
        transition: .2s ease-in-out
        gap: .5rem
        border: 1.5px solid $color-accent-green

        img 
            height: 10px
            width: 12px

        &:hover 
          background: $color-dark-gray
          color: $color-accent-green
          // border-color:  $color-accent-green
          
        &:hover svg path
          fill: $color-accent-green
          transition: .2s ease-in-out



// custom turbo transition
  @keyframes turbo-transition
  0%
    transform: translateY(0) scale(1)
  50%
    transform: translateY(-5px) scale(1.1)
  100%
    transform: translateY(0) scale(1)

// range slider styling 
.range-slider
  // display: flex
  // align-items: center
  // margin: 0 0 32px 0
  position: relative

  input
      // height: 8px
      width: 100%
      -webkit-appearance: none
      outline: none
      background-color: $color-dark-gray

      &::-webkit-slider-thumb
          appearance: none
          -webkit-appearance: none
          z-index: 100
          width: 28px
          height: 28px
          border-radius: 50%
          background: $color-light-gray
          border: none
          cursor: pointer
          transition: 0.2s ease-in-out

          &:hover
              background-color: $color-dark-gray
              border: solid 2px $color-accent-green

      &::-moz-range-thumb
          width: 28px
           z-index: 100
          height: 28px
          border-radius: 50%
          background: $color-light-gray
          appearance: none
          border: none
          cursor: pointer
          transition: 0.2s ease-in-out


          &:hover
              background-color: $color-dark-gray
              border: solid 2px $color-accent-green

      &::-moz-range-progress
          background: $color-accent-green  

.progress 
  position: absolute
  pointer-events: none
  left: 0
  top: 0
  height: 8px
  background: #ccc
  margin-top: 0.5rem
  border-radius: 2rem

  .progress-bar 
    height: 100%
    background: $color-accent-green
  


@media screen and (min-width: 640px) 
    .wrapper
        width: 80%
        margin-top: 10%
        margin-inline: auto

    .generate-password-area, .generated-password 
        padding-inline: 1.5rem
        padding-block: 1rem

    .generate-password-area
        padding: 1.5rem

@media screen and (min-width: 768px) 
    .wrapper
        // width: 60%
        margin-block: auto
        width: 25rem