<div class="wrapper">
  <!-- title and generated password -->
  <div>
    <h4 class="title">Password Generator</h4>
    <div class="generated-password flex-between">
      <h3>PTx1f5DaFX</h3>
      <img src="assets/images/icon-copy.svg" alt="copy-icon" />
    </div>
  </div>

  <!-- generate password area -->
  <div class="generate-password-area flex-col">
    <div class="character-length flex-between">
      <p>Character Length</p>
      <p class="character-number">10</p>
    </div>

    <input type="range" />

    <div class="checkboxes flex-col">
      <label>
        <input type="checkbox" />
        Include Uppercase Letters
      </label>

      <label>
        <input type="checkbox" />
        Include Lowercase Letters
      </label>

      <label>
        <input type="checkbox" />
        Include Numbers
      </label>
      <label>
        <input type="checkbox" />
        Include Symbols
      </label>
    </div>

    <!-- password strength -->
    <div class="password-strength flex-between">
      <h4>STRENGTH</h4>

      <div class="strength-indicator flex ">
        <h4>MEDIUM</h4>
        <div class="strength-meter flex">
          <span class="meter"></span>
          <span class="meter"></span>
          <span class="meter"></span>
          <span class="meter"></span>
        </div>
      </div>
    </div>

    <!-- generate button -->
    <button class="flex generate-button">
      GENERATE
      <span
        ><img src="assets/images/icon-arrow-right.svg" alt="right-icon"
      /></span>
    </button>
  </div>
</div>
