@import '../../../styles.sass'
    
.wrapper
    width: 100%
    margin-top: 10%
    // height: 100%
    // background: $color-medium-gray


.title
    text-align: center
    color: $color-medium-gray
    font-size: map-get($font-size, md)
    margin-bottom: 1rem

.generated-password 
    background: $color-gray
    padding: .8rem
    font-size: map-get($font-size, lg)

    img
        width: 15px
        height: 15px


.generate-password-area 
    margin-top: 1rem
    background: $color-gray
    padding: .8rem
    padding-block: 1rem
    gap: 1.2rem
    

    .character-length
        font-size: map-get($font-size, sm)

    .character-number
        font-size: map-get($font-size, lg)
        color: $color-accent-green
        font-weight: bold
        

    input[type="range"] 
        /* removing default appearance */
        -webkit-appearance: none
        appearance: none
        /* creating a custom design */
        width: 100%
        cursor: pointer
        outline: none
        border-radius: 15px
    
        height: 6px
        background: #ccc

    /* Thumb: webkit */
    input[type="range"]::-webkit-slider-thumb 
        -webkit-appearance: none
        appearance: none
        height: 15px
        width: 15px
        background-color: $color-light-gray
        border-radius: 50%
        border: none
        transition: .2s ease-in-out


    .checkboxes 
        gap: .7rem
        font-size: map-get($font-size, sm)
        label
            display: flex
            align-items: center
            gap: .8rem
            input
                width: 18px
                height: 18px
                accent-color: $color-accent-green

    .password-strength
        background: $color-dark-gray
        padding: 1rem

        h4 
            color: $color-medium-gray
            font-size: map-get($font-size,sm )
        
        .strength-indicator
            gap: .5rem

            h4 
                color: $color-light-gray
                font-size: map-get($font-size,md )

            .strength-meter
                gap: .3rem

                .meter 
                    height: 1rem
                    width: .4rem
                    // background: $color-accent-yellow
                    border: 1px solid $color-light-gray 
    .generate-button
        width: 100%
        background: $color-accent-green
        color: $color-dark-gray
        border: none
        padding: .8rem
        font-size: map-get($font-size, sm)
        font-weight: bold
        cursor: pointer
        justify-content: center
        gap: .5rem

        img 
            height: 10px
            width: 12px





@media screen and (min-width: 640px) 
    .wrapper
        width: 80%
        margin-top: 10%
        margin-inline: auto

    .generate-password-area, .generated-password 
        padding-inline: 1.5rem
        padding-block: 1rem


@media screen and (min-width: 768px) 
    .wrapper
        // width: 60%
        margin-block: auto
        width: 25rem